In [31]:
import pandas as pd
import numpy as np

In [32]:
#df = pd.read_csv(r'https://raw.githubusercontent.com/jjschueder/7333QTW/master/Case%20Study%204/Data/ILINet.csv')
#df.head()

In [33]:
df1 = pd.read_csv(r'https://raw.githubusercontent.com/jjschueder/7333QTW/master/Case%20Study%204/Data/WHO_NREVSS_Clinical_Labs.csv')
df1.to_csv('datafile1.csv')

#df1.head()

In [34]:
df2 = pd.read_csv(r'https://raw.githubusercontent.com/jjschueder/7333QTW/master/Case%20Study%204/Data/WHO_NREVSS_Combined_prior_to_2015_16.csv')
df2.to_csv('datafile2.csv')
df2.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,A (2009 H1N1),A (H1),A (H3),A (Subtyping not Performed),A (Unable to Subtype),B,H3N2v
0,States,Alabama,2010,40,54,0,0,0,0,0,0,0,0
1,States,Alaska,2010,40,40,0,0,0,0,0,0,0,0
2,States,Arizona,2010,40,40,2.5,0,0,1,0,0,0,0
3,States,Arkansas,2010,40,15,0,0,0,0,0,0,0,0
4,States,California,2010,40,183,3.28,2,0,3,0,0,1,0

In [35]:
df3 = pd.read_csv(r'https://raw.githubusercontent.com/jjschueder/7333QTW/master/Case%20Study%204/Data/WHO_NREVSS_Public_Health_Labs.csv')
df3.head()

,REGION TYPE,REGION,SEASON_DESCRIPTION,TOTAL SPECIMENS,A (2009 H1N1),A (H3),A (Subtyping not Performed),B,BVic,BYam,H3N2v
0,States,Alabama,Season 2015-16,256,59,16,1,2,2,2,0
1,States,Alaska,Season 2015-16,4691,607,98,0,231,1,2,0
2,States,Arizona,Season 2015-16,2110,762,580,0,13,58,399,0
3,States,Arkansas,Season 2015-16,128,20,8,0,1,12,0,0
4,States,California,Season 2015-16,12820,1462,854,35,775,309,803,0

In [36]:
df1.describe()

               YEAR          WEEK
count  13230.000000  13230.000000
mean    2017.612245     26.163265
std        1.411614     15.360676
min     2015.000000      1.000000
25%     2016.000000     13.000000
50%     2018.000000     25.000000
75%     2019.000000     40.000000
max     2020.000000     52.000000

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13230 entries, 0 to 13229
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGION TYPE       13230 non-null  object
 1   REGION            13230 non-null  object
 2   YEAR              13230 non-null  int64
 3   WEEK              13230 non-null  int64
 4   TOTAL SPECIMENS   13230 non-null  object
 5   TOTAL A           13230 non-null  object
 6   TOTAL B           13230 non-null  object
 7   PERCENT POSITIVE  13230 non-null  object
 8   PERCENT A         13230 non-null  object
 9   PERCENT B         13230 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.0+ MB

In [38]:
# Missing Data Summary
countOfNan = pd.Series(df1.isnull().sum()) 
DataType = pd.Series(df1.dtypes) 

# Assemble into a single dataframe for viewing
frame = { 'datatype': DataType, 'count of Nan': countOfNan } 
result = pd.DataFrame(frame) 
print(result)

                 datatype  count of Nan
REGION TYPE        object             0
REGION             object             0
YEAR                int64             0
WEEK                int64             0
TOTAL SPECIMENS    object             0
TOTAL A            object             0
TOTAL B            object             0
PERCENT POSITIVE   object             0
PERCENT A          object             0
PERCENT B          object             0

In [39]:
#!python -m pip install --upgrade pandas-profiling
from pandas_profiling import ProfileReport

In [40]:
profile = ProfileReport(df1, plot={'histogram': {'bins': 8}}, explorative=True)

TypeError: _plot_histogram() got an unexpected keyword argument 'plot'

In [41]:
profile.to_notebook_iframe()

NameError: name 'profile' is not defined

In [42]:
dfx = df1.loc[df1['TOTAL SPECIMENS'] != 'X']

In [43]:
dfx

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,States,Alabama,2015,40,167,2,3,2.99,1.2,1.8
2,States,Arizona,2015,40,55,0,0,0,0,0
3,States,Arkansas,2015,40,26,0,1,3.85,0,3.85
4,States,California,2015,40,683,2,0,0.29,0.29,0
5,States,Colorado,2015,40,255,0,1,0.39,0,0.39
...,...,...,...,...,...,...,...,...,...,...
13218,States,Tennessee,2020,24,14,0,0,0,0,0
13219,States,Texas,2020,24,366,1,1,0.55,0.27,0.27
13221,States,Vermont,2020,24,16,0,0,0,0,0
13223,States,Washington,2020,24,88,0,0,0,0,0
13227,States,Puerto Rico,2020,24,0,0,0,0,0,0

In [44]:
dfx['TOTAL SPECIMENS'] = dfx['TOTAL SPECIMENS'].astype(np.float64)

C:\Users\shayden\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10671 entries, 0 to 13227
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGION TYPE       10671 non-null  object
 1   REGION            10671 non-null  object
 2   YEAR              10671 non-null  int64
 3   WEEK              10671 non-null  int64
 4   TOTAL SPECIMENS   10671 non-null  float64
 5   TOTAL A           10671 non-null  object
 6   TOTAL B           10671 non-null  object
 7   PERCENT POSITIVE  10671 non-null  object
 8   PERCENT A         10671 non-null  object
 9   PERCENT B         10671 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 917.0+ KB

In [46]:
import seaborn as sns
import numpy as np
#import altair as alt
import matplotlib.pyplot as plt
# display boxplot 
bx = dfx.boxplot(column = 'TOTAL SPECIMENS', by = ['YEAR', 'WEEK'], figsize=(14,7))
plt.xticks(rotation=45)
bx

In [47]:
# plot
sns.set_style('ticks')
fig, ax = plt.subplots()
# the size of A4 paper
fig.set_size_inches(11.7, 8.27)
sns.violinplot(x= 'WEEK', y='TOTAL SPECIMENS', data=dfx)    
sns.despine()
plt.title('Violin Plot Specimens by Year')
plt.xticks(rotation=45)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
        51]),
 <a list of 52 Text xticklabel objects>)

In [48]:
air_pop=dfx['TOTAL SPECIMENS']
air_pop.index=dfx['WEEK']
print(air_pop.head())
fig = plt.figure()

air_pop.plot()
plt.title("A")
plt.xlabel("T")
plt.ylabel('P')
plt.show()

WEEK
40    167.0
40     55.0
40     26.0
40    683.0
40    255.0
Name: TOTAL SPECIMENS, dtype: float64

C:\Users\shayden\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  # Remove the CWD from sys.path while we load stuff.

In [49]:
#class percentage split
dfgrp = dfx.groupby(['YEAR', 'WEEK'])
dfgrp

In [50]:
dfgrp['TOTAL SPECIMENS'].aggregate(np.sum).plot()